.auth-error-box {
	display: flex;
	justify-content: end;
	max-height: 1.5rem;
	margin-bottom: 0.5rem;
	position:relative;
}

.error-text {
	position: absolute;
	left: 0;
	color: red;
	margin: 0;
	text-wrap: nowrap;
	top:-0.5rem;
}

@media (max-width: 26rem) {
	.error-text {
		font-size: 0.75rem;
		top: -0.3rem;
	}
}