.form-calendar,
.main-calendar,
.filter-calendar,
.logger-calendar,
.calendar {
    border: 1px solid #c2c2c2;
    border-radius: 7px;
    background-color: white;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    letter-spacing: -0.08rem;
    padding: 0.5rem;
}

.arrow-btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-btn:hover {
    background-color: #f2f2f2;
}

.days-of-week {
    display: flex;
    height: 2rem;
    width: 100%;
    font-size: 0.7rem;
    color: #828282;
}

.day-of-week-box {
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days-of-month {
    display: grid;
    width: 100%;
    padding-top: 0;
    position: relative;
    grid-template-columns: repeat(7, calc(100% / 7));
    
}

.days-of-month > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-circle {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #9088ff;
    z-index: 1;
}




.day-of-month-box,
.disabled-day-of-month-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    padding: 0.25rem;
}

.day-of-month-box {
    cursor: pointer;

}

.disabled-day-of-month-box {
    color: #c2c2c2;
    cursor: default;
}

.day-of-month {
    line-height: 1;
    position: relative;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
    z-index: 1;
}


@media (max-width: 81.875rem) {
    .calendar {
        margin-inline: 1rem;
    }
    
}

/*
@media (max-width: 55rem) {
    .calendar {
        margin: 0;
        width: 100vw;
        border-radius: 0;
        border-inline: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .days-of-week {
        display: none;
    }

    .days-of-month {
        display: flex;
        width: 100vw;
        overflow-x: scroll;
    }
    
} */