.context-menu {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 7px;
}

.list,
.groups {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item,
.group {
    height: 2.25rem;
    width: 100%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: .5rem;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: -0.03rem;
    cursor: pointer;
}

.groups {
    left: 6.75rem;
    position: absolute;
    background-color: white;
    border: 1px solid #c2c2c2;
    border-radius: 7px;
    bottom: 0rem;
}

.item:hover, .group:hover {
    background-color: #c9c9c9;
}

.progress-logger-box {
    position: absolute;
}