.group-list {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    padding-bottom: .75rem;
}

.label {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #1e1e1e;
    text-transform: uppercase;
    transform: translateY(-1px);
}

.btns {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width: 81.875rem) {
    .group-list {
        padding-bottom: 0;
    }
    .btns {
        margin-top: 0;
    }
    .label {
        margin-left: 3rem;
    }
    .group-list,
    .btns {
        flex-direction: row;
        align-items: center;
    }
}