.group-button,
.group-button-active {
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    margin-inline: 0.5rem;
    height: 2.25rem;
    border-radius: 5px;
    padding-left: .5rem;
    gap: 0.5rem;
}

.group-button {
    background-color: transparent;
}

.group-button-active {
    background-color: #d1d1d1;
}

.group-button:hover {
    background-color: rgba(1, 1, 1, 0.07);
}


.icon-box {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1rem;
    transform: translateY(-1px);
}

.label,
.input {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: -0.03rem;
    color: #1e1e1e;
    text-wrap: nowrap;
    z-index: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input {
    border: 1px solid #1e1e1e;
    border-radius: 7px;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 5.5rem;
}

@media (max-width: 81.875rem) {
    .group-button {
        padding-right: 0.5rem;
        height: 2rem;
    }
}