.habit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.icon {
    transform: scale(1.5);
}