.header {
    background-color: #1e1e1e;
    height: 5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1.75rem;
    height: 100%;
}

.r-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 67rem) {
    .header {
        position: absolute;
        bottom: 0rem;
        width: 100%;
    }

    .logo {
        position: absolute;
        left: calc(50% - 5rem);
    }

    .r-side {
        width: 100%;
    }
}