.header-button {
    background-color: white;
    outline: none;
    border: none;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.header-button:not(:last-of-type) {
    background-color: transparent;
}

.icon {
    width: 4.1rem;
    height: 4.1rem;
}


.header-button:not(:last-of-type) .icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 67rem) {
    .header-button:last-of-type{
        display: flex;
        background-color: transparent;
    }

    .header-button:last-of-type .icon {
        width: 3rem;
        height: 3rem;
    }
}