.middle-section {
    width: 45%;
    border-right: 1px solid #c2c2c2;
}

.animated-box {
    overflow: hidden;
}

@media (max-width: 75rem) {
    .middle-section {
        width: 50%;
    }
    
}

@media (max-width: 55rem) {
    .middle-section {
        width: 100%;
        border-right: none;
    }
}