
.label {
	font-size: 2.2rem;
	margin-top: 1rem;
}

.form {
	width: calc(100% - 2rem);
    margin-top: 6rem;
	display: flex;
	flex-direction: column;
}

.paragraph {
	margin-top: 1rem;
}

.btns {
    display: flex;
    align-items: center;
    gap: 2rem;
	height: 2rem;
	position: absolute;
    bottom: 2rem;
    width: calc(100% - 6rem);
}

.password-requirments {
	margin-top: -.5rem;
    transform: scale(0.75) translateX(-4rem);
}