.right-section {
    width: 65%;
}

.label-box {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #c2c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: -0.05rem;
    color: #1e1e1e;
}

.habit-data {
    display: flex;
    height: 100%;
}

.l-side{
    width: 40%;
    border-right: 1px solid #c2c2c2;
    padding-inline: 2rem;
}

.r-side{
    width: 55%;;
}

.cell:first-child {
    grid-area: streak;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #c2c2c2;
    border-radius: 7px;
}

.statistics-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "streak streak";
    gap: 1rem;
    column-gap: 2rem;
    padding: 1rem 0
}

@media (max-width: 88rem) {
    .right-section {
        width: 40%;
        height: calc(100% - 7rem);
        overflow-y: scroll;
    }

    .habit-data {
        flex-direction: column;
    }

    .l-side {
        width: 100%;
        border-right: none;
        
    }

    .r-side {
        width: 100%;
    }

    .statistics-grid {
        padding: 1rem 1rem .5rem 1rem;
    }
}

@media (max-width: 75rem) {
    .right-section {
        width: 50%;
    }
}

@media (max-width: 55rem) {
    .right-section {
        width: 100%;
        height: 35.5rem;
    }

    .label-box {
        display: none;
    }

    .habit-data {
        flex-direction: column-reverse;
    }

    .l-side {
        width: 20rem;
    }

    .statistics-grid {
        display: flex;
        width:100vw;
        gap: 3rem;
        height: 6.4rem;
    }

    .cell {
        width: 8rem;
        height: 5rem;
        border-right: 1px solid #c2c2c2;
    }

    .cell:first-child {
        padding-right: 1rem;
    }

    .r-side {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100vw;
    }
}