.right-section {
    width: 55%;
}

.label-box {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #c2c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.label {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: -0.05rem;
    color: #1e1e1e;
}

.habit-data {
    display: flex;
    height: 100%;
}

.l-side{
    width: 40%;
    border-right: 1px solid #c2c2c2;
    padding-inline: 2rem;
}

.r-side{
    width: 60%;
}

.cell:first-child {
    grid-area: streak;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #c2c2c2;
    border-radius: 7px;
}

.statistics-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "streak streak";
    gap: 1rem;
    column-gap: 2rem;
    padding: 1rem 0
}

.back-btn {
    display: none;
}

@media (max-width: 81.875rem) {
    .right-section {
        width: 100%;
        height: calc(100% - 7rem);
        overflow-y: scroll;
    }

    .right-section::-webkit-scrollbar {
        width: .5rem;
    }
    
    .right-section::-webkit-scrollbar-track {
        background-image: linear-gradient(to bottom, rgb(245, 245, 245), 2rem, white, 90%,  rgb(245, 245, 245) 100%);
        height: .4rem;
        border-radius: 50px;
    }
    
    .right-section::-webkit-scrollbar-thumb {
        background-color: #1e1e1e;
        border-radius: 30px;
        width: .4rem;
    } 

    .hide {
        display: none;
    }

    .habit-data {
        flex-direction: column;
    }

    .l-side {
        width: 100%;
        border-right: none;
        
    }

    .r-side {
        width: 100%;
    }

    .statistics-grid {
        padding: 1rem 1rem 1rem 1rem;
    }

    .back-btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 2rem;
        background-color: transparent;
        border: 1px solid #c2c2c2;
        border-radius: 7px;
        padding-inline: 0.5rem;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 1rem;
        font-size: .8rem;
        font-weight: 600;
        letter-spacing: -0.03rem;
        color: #1e1e1e;
    }
}


/* @media (max-width: 55rem) {
    .right-section {
        width: 100%;
        height: 35.5rem;
    }

    .label-box {
        display: none;
    }

    .habit-data {
        flex-direction: column-reverse;
    }

    .l-side {
        width: 20rem;
    }

    .statistics-grid {
        display: flex;
        width:100vw;
        gap: 3rem;
        height: 6.4rem;
    }

    .cell {
        width: 8rem;
        height: 5rem;
        border-right: 1px solid #c2c2c2;
    }

    .cell:first-child {
        padding-right: 1rem;
    }

    .r-side {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100vw;
    }
} */

.btns {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 6rem;
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 7px;
    padding-inline:0.5rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
    color: #1e1e1e;
}

.btn:active {
    box-shadow: none;
    transform: translate(1px, 1px);
}