.search-bar-button {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.icon {
    transform: scale(0.9);
}