.label {
	font-size: 2.2rem;
	margin-top: 1rem;
}

.form {
	width: calc(100% - 2rem);
    margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}



.btns {
    display: flex;
    align-items: center;
    gap: 2rem;
	height: 2rem;
	position: absolute;
    bottom: 2rem;
    width: calc(100% - 6rem);
}

.password-requirments {
	margin-top: -.5rem;
    transform: scale(0.75) translateX(-4rem);
}

@media (max-width: 30rem) {
	.password-requirments {
		margin-top: 1rem;
		transform: scale(1) translateX(0);
	}
}